@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script&family=Press+Start+2P&family=Rubik+Dirt&family=Satisfy&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: initial; }
  * a:link, * a:visited, * a:active {
    text-decoration: none; }

/* HEADER */
.header {
  background: #fafcff;
  background: linear-gradient(0deg, #fafcff 6%, #c4c7cf 21%, #9098a1 69%);
  display: grid;
  grid-template-columns: .5fr 2fr .2fr .1fr;
  grid-template-rows: .5fr .5fr;
  grid-template-areas: "logo nombre redes" "logo pages pages"; }

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  width: 180px; }

.nombre {
  grid-area: nombre;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 30px;
  font-family: 'Rubik Dirt', cursive;
  text-transform: uppercase;
  width: 200px;
  position: relative;
  left: -130px;
  top: 17px; }

.redes {
  grid-area: redes;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 0;
  padding-left: 0; }

.pages {
  grid-area: pages;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: relative;
  top: -18px;
  box-sizing: unset;
  margin-bottom: 0;
  padding-left: 0; }

.bg-dark {
  display: none; }

.navbar-toggler {
  display: none; }

.pages a {
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 600;
  font-size: larger;
  text-decoration: none;
  color: snow;
  padding-bottom: 3px; }

.pages a:hover {
  color: #335179; }

.header a img {
  width: 120px;
  box-sizing: unset; }

.header ul img {
  width: 25px;
  padding: 4px; }

@media (max-width: 1368px) {
  .header {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-template-areas: "logo nombre redes" "logo nombre redes" "pages pages pages"; }
  .logo {
    grid-area: logo; }
  .nombre {
    grid-area: nombre;
    position: relative;
    left: -110px;
    top: -38px; }
  .redes {
    grid-area: redes;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 68px; }
  .pages {
    grid-area: pages; } }

@media (max-width: 1024px) {
  .nombre {
    position: relative;
    left: -44px; } }

@media (max-width: 770px) {
  .nombre {
    font-size: 25px;
    position: relative;
    left: -48px;
    top: -26px; }
  .header a img {
    width: 95px;
    height: 95px;
    position: relative;
    top: 2px;
    left: -16px; }
  .header ul img {
    width: 25px;
    height: 25px;
    position: relative;
    left: 18px; }
  .pages a {
    font-size: medium; } }

@media (max-width: 425px) {
  .header {
    display: grid;
    grid-template-columns: .5fr 1fr 0fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-template-areas: "logo nombre redes" "logo nombre redes" "pages pages pages"; }
  .nombre {
    font-size: medium;
    position: relative;
    left: -90px; }
  .header a img {
    width: 60px;
    height: 60px;
    position: relative;
    left: -39px;
    top: 5px; }
  .header ul img {
    width: 20px;
    height: 20px;
    position: relative;
    left: -33px; }
  .pages a {
    font-family: 'Stick No Bills', sans-serif;
    font-size: small; }
  .header {
    min-width: 100vw;
    min-height: 16vh; }
  .menu-hamburguesa {
    display: flex;
    position: relative;
    top: -8px;
    right: 25px; }
  .bg-dark {
    display: contents;
    background-color: transparent !important; }
    .bg-dark ul a li {
      width: 122px;
      color: #696666;
      list-style-type: none;
      text-align: center;
      padding: 2px; }
  .navbar-toggler {
    display: contents; }
    .navbar-toggler .navbar-toggler-icon {
      background-color: #808d99;
      border-radius: 5px;
      position: relative;
      left: 21px;
      top: 10px; }
  .pages {
    display: none; } }

/* MAIN */
.main-index {
  min-height: 76.9vh; }

.tag, .tag-comentario, .tag-preguntas, .tag-registro {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 10px; }

.masvendidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }

.cards-index {
  display: flex;
  flex-wrap: wrap;
  width: 1522px;
  gap: 20px;
  justify-content: space-between; }
  .cards-index :hover {
    border-color: #797575;
    border-width: 2px; }
  .cards-index .card img {
    border-radius: 5px; }
  .cards-index .card .card-title {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 800;
    font-size: 20px; }
  .cards-index .card .card-text {
    font-family: 'Stick No Bills', sans-serif;
    border-bottom: 1px solid gray;
    font-size: 20px; }
  .cards-index .card .img-logo {
    box-sizing: unset;
    width: 100px;
    padding-left: 71px; }

.parrafo {
  padding-top: 12px;
  padding-bottom: 12px; }
  .parrafo .texto {
    font-family: 'Stick No Bills', sans-serif;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: #5e5757; }

.cards-coment {
  display: flex;
  flex-wrap: wrap;
  width: 1522px;
  gap: 20px;
  padding-left: 175px;
  justify-content: space-between; }
  .cards-coment .card img {
    width: 60px;
    padding-top: 10px;
    padding-left: 20px; }
  .cards-coment .card .card-title {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 800;
    font-size: 20px; }
  .cards-coment .card .card-text {
    font-family: 'Stick No Bills', sans-serif;
    border-bottom: 1px solid gray;
    font-size: 20px;
    text-align: justify; }

@media (max-width: 1368px) {
  .cards-coment {
    width: 1334px;
    padding-left: 0px; } }

@media (max-width: 1024px) {
  .cards-index {
    width: 912px; }
  .cards-coment {
    width: 914px;
    padding-left: 38px; } }

@media (max-width: 770px) {
  .main-index {
    min-height: 76.9vh;
    min-width: 100vw; }
  .cards-index {
    width: 630px; }
  .cards-coment {
    width: 630px;
    padding-left: 50px; } }

@media (max-width: 425px) {
  .main-index {
    min-width: 100vw; }
  .cards-index {
    width: 274px; }
    .cards-index .card img {
      padding-left: 37px; }
  .tag-comentario {
    display: none; }
  .comentario {
    display: none; }
  .parrafo .texto {
    width: 400px;
    margin: 12px;
    padding-left: 10px;
    font-size: small; }
  .tag, .tag-comentario, .tag-preguntas, .tag-registro {
    font-size: 20px; } }

/* MAIN - PRODUCTOS */
.main-productos {
  min-height: 76.9vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: .3fr 2fr;
  grid-template-rows: .1fr .1fr;
  grid-template-areas: "tag tag" "navflex carousel1"; }

.tag, .tag-comentario, .tag-preguntas, .tag-registro {
  grid-area: tag; }

.navflex {
  grid-area: navflex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 164px; }
  .navflex .nav-link {
    padding-top: 45px; }

.carousel-inner {
  grid-area: carousel1;
  width: max-content !important; }

.carousel {
  width: 200px; }

.carousel-control-prev-icon {
  background-color: dimgray;
  position: relative;
  top: 50px; }

.carousel-control-next-icon {
  background-color: dimgray;
  position: relative;
  top: 50px;
  left: 1320px; }

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1522px;
  gap: 20px; }
  .cards :hover {
    border-color: #797575;
    border-width: 2px; }
  .cards .card img {
    border-radius: 5px; }
  .cards .card .card-title {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 800;
    font-size: 20px; }
  .cards .card .card-text {
    font-family: 'Stick No Bills', sans-serif;
    border-bottom: 1px solid gray;
    font-size: 20px; }
  .cards .card .img-logo {
    box-sizing: unset;
    width: 100px;
    padding-left: 71px; }

.nav-link {
  color: darkslategray !important;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 600 !important;
  font-size: larger !important; }

main ul {
  list-style-type: none; }

@media (max-width: 1368px) {
  .cards {
    width: 1180px;
    justify-content: center; }
  .carousel-control-next-icon {
    left: 969px; } }

@media (max-width: 1024px) {
  .cards {
    width: 838px; }
  .carousel-control-next-icon {
    position: fixed;
    top: 438px;
    left: 847px; }
  .carousel-control-prev-icon {
    position: fixed;
    top: 438px;
    left: 287px; } }

@media (max-width: 770px) {
  .cards {
    width: 600px;
    gap: 10px;
    position: relative;
    top: 0px;
    left: -6px; }
  .carousel-control-next-icon {
    position: fixed;
    top: 408px;
    left: 719px; }
  .carousel-control-prev-icon {
    position: fixed;
    top: 408px;
    left: 165px; } }

@media (max-width: 425px) {
  .cards {
    padding-left: 70px;
    width: 420px;
    gap: 10px; }
    .cards .card {
      align-items: center; }
  .main-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr 1fr;
    grid-template-areas: "tag" "navflex" "carousel1"; }
  .carousel-control-next-icon {
    position: fixed;
    top: 625px;
    left: 351px; }
  .carousel-control-prev-icon {
    position: fixed;
    top: 625px;
    left: 95px; } }

/* MAIN - GUIA DE TALLES */
.main-talles {
  min-height: 75.5vh; }

.medidas {
  display: flex;
  justify-content: space-evenly; }

.explicacion {
  font-family: 'Stick No Bills', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #7995b9;
  position: relative;
  top: 35px; }

.medida {
  width: 425px;
  padding-top: 51px;
  padding-bottom: 51px;
  position: relative;
  top: 70px; }

.medida:hover {
  width: 550px; }

@media (max-width: 1368px) {
  .medida {
    position: relative;
    top: 12px; } }

@media (max-width: 1024px) {
  .medida {
    width: 325px; } }

@media (max-width: 770px) {
  .medidas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .medida {
    width: 386px; }
    .medida :hover {
      width: 500px; }
  .explicacion {
    font-size: 15px; } }

@media (max-width: 425px) {
  main div img {
    width: 200px; }
  .explicacion {
    font-size: 13px; } }

.tarjetas {
  width: 500px;
  padding: 10px; }

.mercadopago {
  width: 200px;
  padding: 10px; }

.tag-preguntas {
  padding-left: 0;
  position: relative;
  left: 470px;
  top: 7px; }

.preguntas {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 150px;
  text-align: justify;
  width: 832px;
  margin: auto; }

.pregunta-titulo {
  font-weight: bold; }

.respuestas {
  padding-top: 10px;
  width: 1012px;
  margin: auto; }

@media (max-width: 1368px) {
  .tag-preguntas {
    position: relative;
    left: 205px; } }

@media (max-width: 1024px) {
  .tag-preguntas {
    position: relative;
    left: 28px; }
  .respuestas {
    width: 946px; } }

@media (max-width: 770px) {
  .tag-preguntas {
    position: relative;
    left: 22px; }
  .respuestas {
    width: 606px;
    position: relative;
    left: -55px; }
  .tarjetas {
    position: relative;
    left: 29px; }
  .mercadopago {
    position: relative;
    left: 40px; } }

@media (max-width: 425px) {
  .tag-preguntas {
    font-size: 20px; }
  .pregunta-titulo {
    font-size: 15px; }
  .respuestas {
    font-size: 15px;
    width: 382px;
    position: relative;
    left: -226px; }
  .tarjetas {
    width: 405px;
    position: relative;
    left: -25px; }
  .mercadopago {
    width: 150px;
    position: relative;
    left: -15px; } }

.main-registro {
  min-height: 75.5vh; }

.tag-registro {
  position: absolute;
  top: 203px;
  left: 186px; }

.formulario {
  padding-left: 100px;
  padding-top: 20px;
  display: flex; }

.formulario-completo {
  width: 250px;
  padding-top: 107px;
  position: absolute;
  top: 140px;
  left: 180px; }

.imagen {
  display: flex;
  align-items: center; }

.foto {
  width: 1750px;
  position: relative;
  top: 81px;
  left: 90px; }

.titulo-datos {
  padding-top: 10px;
  font-weight: bold; }

.datos {
  padding-top: 15px;
  margin-top: 10px;
  width: 240px;
  border: none; }

.enviar {
  padding-top: 15px;
  margin-top: 10px;
  width: 238px;
  background-color: #7995b9;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 8px; }

@media (max-width: 1368px) {
  .foto {
    width: 1256px;
    position: relative;
    top: 57px;
    left: 64px; }
  .formulario-completo {
    width: 250px;
    padding-top: 107px;
    position: absolute;
    top: 1px;
    left: 180px; }
  .titulo-datos {
    margin-bottom: 7px; }
  .datos {
    padding-top: 0px; }
  .tag-registro {
    position: absolute;
    top: 182px;
    left: 13px; }
  .enviar {
    height: 10px;
    font-size: small;
    padding-top: 7px;
    padding-bottom: 14px; } }

@media (max-width: 1024px) {
  .foto {
    position: relative;
    top: 174px;
    left: 100px;
    width: 982px;
    margin: -71px; }
  .formulario-completo {
    padding-top: 287px;
    position: absolute;
    top: 0px; }
  .titulo-datos {
    margin-bottom: -3px;
    margin-top: -8px; }
  .main-registro {
    background: white;
    background: linear-gradient(0deg, white 0%, #b2d9ff 50%, white 100%); } }

@media (max-width: 770px) {
  .main-registro {
    min-height: 68.5vh; }
  .foto {
    display: none; }
  .tag-registro {
    position: absolute;
    top: 151px;
    left: 258px; }
  .formulario-completo {
    position: absolute;
    top: 115px;
    left: 251px; }
  .main-registro {
    background: white;
    background: linear-gradient(0deg, white 0%, #b2d9ff 50%, white 100%); }
  .datos {
    border: black; } }

@media (max-width: 425px) {
  .formulario-completo {
    position: absolute;
    top: 156px;
    left: 93px; }
  .tag-registro {
    position: absolute;
    top: 217px;
    left: 114px; }
  .titulo-datos {
    font-size: small; }
  .datos {
    padding-top: 0;
    margin-top: 0; } }

/* FOOTER */
.footer {
  min-height: 10vh;
  background: #9098a1;
  background: linear-gradient(0deg, #9098a1 0%, #c4c7cf 70%, #fafcff 100%);
  display: flex;
  justify-content: space-around; }

.footer ul {
  list-style-type: none; }

.footer img {
  width: 20px; }

.fuente {
  font-size: large;
  font-weight: bold;
  font-family: 'Stick No Bills', sans-serif; }

ul a li {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #3a3737;
  margin: 5px;
  max-width: 250px;
  max-height: 40px; }

.footer-lista, .footer-redes {
  max-width: 445px;
  display: flex;
  align-items: center;
  box-sizing: unset;
  margin-bottom: 0;
  padding-left: 0; }
  .footer-lista :hover, .footer-redes :hover {
    color: snow; }

.footer-redes .redes-footer {
  padding-left: 20px;
  padding-top: 4px;
  box-sizing: unset; }

.contacto {
  padding-left: 0;
  position: relative;
  left: 370px; }

.footer-425 {
  display: none; }

@media (max-width: 1368px) {
  .contacto {
    position: relative;
    left: 200px; } }

@media (max-width: 1024px) {
  .contacto {
    position: relative;
    left: 80px; } }

@media (max-width: 770px) {
  ul a li {
    font-size: 14px; }
  .contacto {
    position: relative;
    left: -14px; }
  .footer-redes .redes-footer {
    padding-left: 6px;
    position: relative;
    right: 40px; } }

@media (max-width: 425px) {
  .footer {
    min-width: 100vw;
    min-height: 16vh; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .footer .footer-lista, .footer .footer-redes {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px; }
      .footer .footer-lista a, .footer .footer-redes a {
        height: 25px; }
    .footer .contacto {
      display: none; }
    .footer .footer-redes {
      display: none; }
    .footer .footer-425 {
      display: contents; }
      .footer .footer-425 .contacto-425 {
        display: flex;
        align-items: flex-start;
        justify-content: space-around; } }
