@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script&family=Press+Start+2P&family=Rubik+Dirt&family=Satisfy&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: initial; }

/* HEADER */
.header {
  background-color: darkgrey;
  display: grid;
  grid-template-columns: .5fr 2fr .2fr .1fr;
  grid-template-rows: .5fr .5fr;
  grid-template-areas: "logo nombre redes" "logo pages pages"; }

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center; }

.nombre {
  grid-area: nombre;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 30px;
  font-family: 'Rubik Dirt', cursive;
  text-transform: uppercase; }

.redes {
  grid-area: redes;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }

.pages {
  grid-area: pages;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly; }

.pages a {
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 600;
  font-size: larger;
  text-decoration: none;
  color: snow;
  padding-bottom: 3px; }

.pages a:hover {
  color: #7995b9; }

.header a img {
  width: 125px;
  box-sizing: unset; }

.header ul img {
  width: 25px;
  padding: 4px; }

@media (max-width: 740px) {
  .header {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: .5fr .5fr 2fr;
    grid-template-areas: "logo nombre redes" "logo nombre redes" "pages pages pages"; }
  .logo {
    grid-area: logo; }
  .nombre {
    grid-area: nombre; }
  .redes {
    grid-area: redes;
    justify-content: flex-start; }
  .pages {
    grid-area: pages;
    flex-direction: column;
    align-items: flex-start; } }

@media (max-width: 425px) {
  .nombre {
    font-size: medium; }
  .header a img {
    width: 60px; }
  .header ul img {
    width: 15px; }
  .pages a {
    font-family: 'Stick No Bills', sans-serif;
    font-size: medium; } }

/* MAIN */
.tag {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px; }

.masvendidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.main-index img {
  width: 280px;
  padding: 10px; }

.main-index p {
  background-color: #7995b9;
  font-family: 'Stick No Bills', sans-serif;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #f1f1f1; }

.comentario {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px; }

.comentario div {
  border-style: solid;
  border-color: lightskyblue;
  padding: 40px; }

/* MAIN - PRODUCTOS */
.main-productos {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "tag carousel1" "navflex carousel1" "navflex carousel1"; }

.tag {
  grid-area: tag; }

.navflex {
  grid-area: navflex; }

.carousel-inner {
  grid-area: carousel1; }

.carousel {
  width: 200px; }

.nav-link {
  color: darkslategray !important;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 600 !important;
  font-size: larger !important; }

main ul {
  list-style-type: none; }

/* MAIN - GUIA DE TALLES */
.main-talles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 2fr;
  align-items: center;
  grid-template-areas: "explicacion explicacion explicacion" "medida-h medida-m medida-n"; }

.explicacion {
  grid-area: explicacion;
  font-family: 'Stick No Bills', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #7995b9; }

.medida-h {
  grid-area: medida-h;
  display: flex;
  justify-content: flex-end; }

.medida-m {
  grid-area: medida-m;
  display: flex;
  justify-content: space-around; }

.medida-n {
  grid-area: medida-n;
  display: flex;
  justify-content: flex-start; }

main div img {
  width: 425px;
  padding-top: 51px;
  padding-bottom: 51px; }

@media (max-width: 740px) {
  .main-talles {
    display: flex;
    flex-direction: column; }
  main div img {
    width: 250px; }
  .explicacion {
    font-size: 15px;
    font-weight: bold;
    color: darkslategray; } }

@media (max-width: 425px) {
  main div img {
    width: 200px; } }

.tarjetas {
  width: 500px;
  padding: 10px; }

.mercadopago {
  width: 200px;
  padding: 10px; }

.tag-preguntas {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: bold;
  padding-left: 15px; }

.preguntas {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 150px;
  text-align: justify; }

.pregunta-titulo {
  font-weight: bold; }

.respuestas {
  padding-top: 10px; }

.tag-registro {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px; }

.formulario {
  padding-left: 100px;
  padding-top: 32px;
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: 1fr;
  grid-template-areas: "formulario foto"; }

.formulario-completo {
  grid-area: formulario;
  padding-top: 20px; }

.foto {
  grid-area: foto;
  padding-right: 70px;
  width: 1400px; }

.titulo-datos {
  padding-top: 10px;
  font-weight: bold; }

.datos {
  padding-top: 15px;
  margin-top: 10px;
  width: 200px; }

.enviar {
  padding-top: 15px;
  margin-top: 10px;
  width: 200px;
  background-color: #7995b9;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 8px; }

/* FOOTER */
.footer {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 15px; }

.footer ul {
  list-style-type: none; }

.footer img {
  width: 25px; }

.fuente {
  font-size: large;
  font-weight: bold;
  font-family: 'Stick No Bills', sans-serif; }

ul a li {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 16px;
  color: floralwhite; }

.redes-footer {
  padding-left: 20px;
  padding-top: 4px;
  box-sizing: unset; }
