@import './utilidades/reset';
@import './secciones/header';
@import './secciones/main-index';
@import './secciones/main-productos';
@import './secciones/main-guia-de-talles';
@import './secciones/main-preguntas-frecuentes';
@import './secciones/main-registrarse';
@import './secciones/footer';
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script&family=Press+Start+2P&family=Rubik+Dirt&family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;600&display=swap');