
/* FOOTER */

.footer {
    min-height: 10vh;
    background-image: linear-gradient(rgb(226, 222, 222), rgb(119, 118, 118));
    display: flex;
    justify-content: space-around;
}

.footer ul {
    list-style-type: none;
}

.footer img {
    width: 20px;
}

.fuente {
    font-size: large;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

ul a li {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(58, 55, 55);
    margin: 5px;
    max-width: 250px;
    max-height: 40px;
}

.footer-lista{
    max-width: 400px;
    display: flex;
    align-items: center;
    box-sizing: unset;
}

.footer-redes{
    @extend .footer-lista;
    .redes-footer{
    padding-left: 20px;
    padding-top: 4px;
    box-sizing: unset;
    }
}

.contacto{
    position: relative;
    left: 190px;
}