
/* FOOTER */

.footer {
    min-height: 10vh;
    background: rgb(144,152,161);
    background: linear-gradient(0deg, rgba(144,152,161,1) 0%, rgba(196,199,207,1) 70%, rgba(250,252,255,1) 100%);
    display: flex;
    justify-content: space-around;
}

.footer ul {
    list-style-type: none;
}

.footer img {
    width: 20px;
}

.fuente {
    font-size: large;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

ul a li {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(58, 55, 55);
    margin: 5px;
    max-width: 250px;
    max-height: 40px;
}

.footer-lista{
    max-width: 445px;
    display: flex;
    align-items: center;
    box-sizing: unset;
    margin-bottom: 0;
    padding-left: 0;
    :hover{
        color: snow;
    }
}

.footer-redes{
    @extend .footer-lista;
    .redes-footer{
    padding-left: 20px;
    padding-top: 4px;
    box-sizing: unset;
    }
}

.contacto{
    padding-left: 0;
    position: relative;
    left: 370px;
}

.footer-425{
    display: none;
}

@media (max-width: 1368px){
    .contacto{
        position: relative;
        left: 200px;
    }
}

@media (max-width: 1024px){
    .contacto{
        position: relative;
        left: 80px;
    }
}

@media (max-width: 770px){
    ul a li {
        font-size: 14px;
    }

    .contacto{
        position: relative;
        left: -14px;
    }

    .footer-redes{
        .redes-footer{
            padding-left: 6px;
            position: relative;
            right: 40px;
        }
    }   
}

@media (max-width: 425px){
    .footer {
        min-width: 100vw;
        min-height: 16vh;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .footer-lista{
            display: flex;
            flex-direction: column;
            padding-bottom: 5px;
            a{
                height: 25px;
            }
        }
        .contacto{
            display: none;
        }
        .footer-redes{
            display: none;
        }
        .footer-425{
            display: contents;
            .contacto-425{
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
            }
        }
    }
}