
/* FOOTER */

.footer {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.footer ul {
    list-style-type: none;
}

.footer img {
    width: 25px;
}

.fuente {
    font-size: large;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

ul a li {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 16px;
    color: floralwhite;
}

.redes-footer{
    padding-left: 20px;
    padding-top: 4px;
    box-sizing: unset;
}