
/* HEADER */

.header{
    background: rgb(250,252,255);
    background: linear-gradient(0deg, rgba(250,252,255,1) 6%, rgba(196,199,207,1) 21%, rgba(144,152,161,1) 69%);
    display: grid;
    grid-template-columns: .5fr 2fr .2fr .1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas:
        "logo nombre redes"
        "logo pages pages"
    ;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    width: 180px;
}

.nombre {
    grid-area: nombre;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    font-family: 'Rubik Dirt', cursive;
    text-transform: uppercase;
    width: 200px;
    position: relative;
    left: -177px;
    top: 17px;
}

.redes {
    grid-area: redes;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 0;
    padding-left: 0;
}

.pages {
    grid-area: pages;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: relative;
    top: -18px;
    box-sizing: unset;
    margin-bottom: 0;
    padding-left: 0;
}

.bg-dark{
    display: none;
}

.navbar-toggler{
    display: none;
}

.pages a {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    color: snow;
    padding-bottom: 3px;
}

.pages a:hover {
    color: rgb(51, 81, 121);
}

.header a img {
    width: 120px;
    box-sizing: unset;
}

.header ul img {
    width: 25px;
    padding: 4px;
}

@media (max-width: 1368px) {
    .header {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-template-areas:
            "logo nombre redes"
            "logo nombre redes"
            "pages pages pages"
    }

    .logo {
        grid-area: logo;
    }

    .nombre {
        grid-area: nombre;
        position: relative;
        left: -110px;
        top: -38px;
    }

    .redes {
        grid-area: redes;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        right: 68px;
    }

    .pages {
        grid-area: pages;
        // flex-direction: column;
        // align-items: flex-start;
    }
}

@media (max-width: 770px){
    .nombre{
        font-size: 25px;
        position: relative;
        left: -48px;
        top: -26px;
    }
    
    .header a img {
        width: 95px;
        height: 95px;
        position: relative;
        top: 2px;
        left: -16px;
    }

    .header ul img {
        width: 25px;
        height: 25px;
        position: relative;
        left: 18px;
    }

    .pages a{
        font-size: medium;
    }

}

@media (max-width: 425px) {
    
    .nombre {
        font-size: medium;
        position: relative;
        left: -90px;
    }

    .header a img {
        width: 60px;
        height: 60px;
        position: relative;
        left: -39px;
        top: 5px;
    }

    .header ul img {
        width: 20px;
        height: 20px;
        position: relative;
        left: -33px;
    }

    .pages a {
        font-family: 'Stick No Bills', sans-serif;
        font-size: small;
    }

    .header {
        min-width: 100vw;
        min-height: 16vh;
    }

    .menu-hamburguesa{
        display: flex;
        position: relative;
        top: -8px;
        right: 25px;
    }

    .bg-dark{
        display: contents;
        background-color: transparent !important;
        ul a li{
            width: 122px;
            color: rgb(105, 102, 102);
            list-style-type: none;
            text-align: center;
            padding: 2px;
        }
    }
    
    .navbar-toggler{
        display: contents;
        .navbar-toggler-icon{
            background-color: rgb(128, 141, 153);
            border-radius: 5px;
            position: relative;
            left: 21px;
            top: 10px;
        }
    }

    .pages{
        display: none;
    }
}