/* MAIN */

.main-index{
    min-height: 76.9vh;
}

.tag {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 10px;
}

.tag-comentario {
    @extend .tag;
}

.masvendidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards-index{
    display: flex;
    flex-wrap: wrap;
    width: 1522px;
    gap: 20px;
    justify-content: space-between;
    :hover{
        border-color: rgb(121, 117, 117);
        border-width: 2px;
    }
    .card{
        img{
            border-radius: 5px;
        }
        .card-title{
            font-family: 'Stick No Bills', sans-serif;
            font-weight: 800;
            font-size: 20px;
        }
        .card-text{
            font-family: 'Stick No Bills', sans-serif;
            border-bottom: 1px solid gray;
            font-size: 20px;
        }
        .img-logo{
            box-sizing: unset;
            width: 100px;
            padding-left: 71px;
        }
    }
}

.parrafo {
    padding-top: 12px;
    padding-bottom: 12px;

    .texto {
        font-family: 'Stick No Bills', sans-serif;
        text-align: center;
        font-size: larger;
        font-weight: 600;
        color: rgb(94, 87, 87);
    }
}

.cards-coment{
    display: flex;
    flex-wrap: wrap;
    width: 1522px;
    gap: 20px;
    padding-left: 175px;
    justify-content: space-between;
    .card{
        img{
            width: 60px;
            padding-top: 10px;
            padding-left: 20px;
        }
        .card-title{
            font-family: 'Stick No Bills', sans-serif;
            font-weight: 800;
            font-size: 20px;
        }
        .card-text{
            font-family: 'Stick No Bills', sans-serif;
            border-bottom: 1px solid gray;
            font-size: 20px;
            text-align: justify;
        }
    }
}

@media (max-width: 1368px) {
    .cards-coment{
        width: 1334px;
        padding-left: 0px;
    }
}

@media (max-width: 770px) {
    .main-index{
        min-height: 76.9vh;
        min-width: 100vw;
    }

    .cards-index{
        width: 630px;
    }

    .cards-coment{
        width: 630px;
        padding-left: 50px;
    }
}

@media (max-width: 425px) {
    .main-index{
        min-width: 100vw;
    }

    .cards-index{
        width: 274px;
        .card{
            img{
                padding-left: 37px;
            }
        }
    }

    .tag-comentario{
        display: none;
    }

    .comentario{
        display: none;
    }

    .parrafo{
        .texto{
            width: 400px;
            margin: 12px;
            padding-left: 10px;
            font-size: small;
        }
    }

    .tag {
        font-size: 20px;
    }
}