
/* MAIN - GUIA DE TALLES */

.main-talles {
    min-height: 75.5vh;
}

.medidas{
    display: flex;
    justify-content: space-evenly;
}

.explicacion {
    font-family: 'Stick No Bills', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(121, 149, 185);
    position: relative;
    top: 35px;
}

.medida {
    width: 425px;
    padding-top: 51px;
    padding-bottom: 51px;
    position: relative;
    top: 70px;
}

.medida:hover{
     width: 550px;
}

@media (max-width: 1368px){
    .medida{
        position: relative;
        top: 12px;
    }
}

@media (max-width: 770px) {
    .medidas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .medida{
        width: 386px;
        :hover{
            width: 500px;
        }
    }

    .explicacion{
        font-size: 15px;
    }
}
@media (max-width: 425px){
    main div img {
        width: 200px;
    }

    .explicacion{
        font-size: 13px;
    }
}