/* MAIN */

  .tag {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

.tag-comentario {
    @extend .tag;
}

.masvendidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.main-index img {
    width: 280px;
    padding: 10px;
}

.parrafo {
    background-image: linear-gradient(rgb(121, 149, 185), rgb(238, 232, 232));
    padding-top: 12px;
    padding-bottom: 12px;

    .texto {
        font-family: 'Stick No Bills', sans-serif;
        text-align: center;
        font-size: larger;
        font-weight: 600;
        color: rgb(94, 87, 87);
    }
}

.comentario {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.comentario div {
    border-style: solid;
    border-color: rgb(118, 118, 119);
    padding-top: 60px;
    padding: 40px;
}

@media (max-width: 740px) {
    .tag-comentario {
        display: none;
    }

    .comentario {
        display: none;
    }
}