
.tag-registro{
    @extend .tag;
}

.formulario{
    padding-left: 100px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "formulario foto";
}

.formulario-completo{
    grid-area: formulario;
    padding-top: 10px;
}

.imagen{
    display: flex;
    align-items: center;
}

.foto{
    grid-area: foto;
    width: 1400px;
}

.titulo-datos{
    padding-top: 10px;
    font-weight: bold;
}

.datos{
    padding-top: 15px;
    margin-top: 10px;
    width: 200px;
}

.enviar{
    padding-top: 15px;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(121, 149, 185);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 8px;
}

@media (max-width: 1300px){
    .foto{
        width: 700px;
    }
}

@media (max-width: 1024px){
    .foto{
        width:600px;
    }
}

@media (max-width: 425px){
    .foto{
        display: none;
    }
}