
.main-registro{
    min-height: 75.5vh;
}

.tag-registro{
    @extend .tag;
    position: absolute;
    top: 203px;
    left: 186px;
}

.formulario{
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
}

.formulario-completo{
    width: 250px;
    padding-top: 107px;
    position: absolute;
    top: 140px;
    left: 180px;
}

.imagen{
    display: flex;
    align-items: center;
}

.foto{
    width: 1750px;
    position: relative;
    top: 81px;
    left: 90px;
}

.titulo-datos{
    padding-top: 10px;
    font-weight: bold;
}

.datos{
    padding-top: 15px;
    margin-top: 10px;
    width: 240px;
    border: none;
}

.enviar{
    padding-top: 15px;
    margin-top: 10px;
    width: 238px;
    background-color: rgb(121, 149, 185);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 8px;
}

@media (max-width: 1368px){
    .foto{
        width: 1256px;
        position: relative;
        top: 57px;
        left: 64px;
    }
    .formulario-completo{
        width: 250px;
        padding-top: 107px;
        position: absolute;
        top: 1px;
        left: 180px;
    }
    .titulo-datos{
        margin-bottom: 7px;
    }
    .datos{
        padding-top: 0px;
    }
    .tag-registro{
        position: absolute;
        top: 182px;
        left: 13px;
    }
    .enviar{
        height: 10px;
        font-size: small;
        padding-top: 7px;
        padding-bottom: 14px;
    }
}

@media (max-width: 1024px){
    .foto{
        width:712px;
    }
}

@media (max-width: 770px){
    .main-registro{
        min-height: 68.5vh;
    }
    .foto{
        display: none;
    }

    .tag-registro{
        position: absolute;
        top: 151px;
        left: 258px;
    }

    .formulario-completo{
        position: absolute;
        top: 115px;
        left: 251px;
    }

    .main-registro{
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(178,217,255,1) 50%, rgba(255,255,255,1) 100%);
    }

    .datos{
        border: black;
    }
}

@media (max-width: 425px){
    .formulario-completo{
        position: absolute;
        top: 156px;
        left: 93px;
    }

    .tag-registro{
        position: absolute;
        top: 217px;
        left: 114px;
    }

    .titulo-datos{
        font-size: small;
    }

    .datos{
        padding-top: 0;
        margin-top: 0;
    }
}