
.tarjetas{
    width: 500px;
    padding: 10px;
}

.mercadopago{
    width: 200px;
    padding: 10px;
}

.tag-preguntas{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.preguntas{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 150px;
    text-align: justify;
}

.pregunta-titulo{
    font-weight: bold;
}

.respuestas{
    padding-top: 10px;
}