
/* MAIN - PRODUCTOS */

.main-productos {
    min-height: 76.9vh;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: .1fr .1fr;
    grid-template-areas:
        "tag carousel1"
        "tag carousel1"
        "navflex carousel1"
    ;
}

.tag {
    grid-area: tag;
}

.navflex {
    grid-area: navflex;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.carousel-inner {
    grid-area: carousel1;
}

.carousel {
    width: 200px;
}

.nav-link {
    color: darkslategray !important;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600 !important;
    font-size: larger !important;
}

main ul {
    list-style-type: none;
}