
/* MAIN - PRODUCTOS */

.main-productos {
    min-height: 76.9vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: .3fr 2fr;
    grid-template-rows: .1fr .1fr;
    grid-template-areas:
        "tag tag"
        "navflex carousel1"
    ;
}

.tag {
    grid-area: tag;
}

.navflex {
    grid-area: navflex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 164px;
    .nav-link{
        padding-top: 45px;
    }
}

.carousel-inner {
    grid-area: carousel1;
    width: max-content !important;
}

.carousel {
    width: 200px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 1522px;
    gap: 20px;
    :hover{
        border-color: rgb(121, 117, 117);
        border-width: 2px;
    }
    .card{
        img{
            border-radius: 5px;
        }
        .card-title{
            font-family: 'Stick No Bills', sans-serif;
            font-weight: 800;
            font-size: 20px;
        }
        .card-text{
            font-family: 'Stick No Bills', sans-serif;
            border-bottom: 1px solid gray;
            font-size: 20px;
        }
        .img-logo{
            box-sizing: unset;
            width: 100px;
            padding-left: 71px;
        }
    }
}

.nav-link {
    color: darkslategray !important;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600 !important;
    font-size: larger !important;
}

main ul {
    list-style-type: none;
}

@media (max-width: 1368px){
    .cards{
        width: 1210px;
    }
}

@media (max-width: 770px){
    .cards{
        width: 700px;
    }
}

@media (max-width: 425px){
    .cards{
        padding-left: 70px;
        width: 420px;
        gap: 10px;
    }

    .main-productos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr 1fr;
        grid-template-areas:
            "tag"
            "navflex"
            "carousel1"
        ;
    }
}